{:deps {hiccup/hiccup {:mvn/version "2.0.0-RC3"}}
 :paths ["src"]
 :tasks
 {:requires ([bb.static :as static])
  build {:doc "Build"
         :task (let [[dir] *command-line-args*]
                 (static/build dir))}}}
