html, body {
  font-family: helvetica, arial, sans-serif;
  font-size: 18px;
  line-height: 28px;

  box-size: border-box;
  height: 100%;
  padding: 0;
  margin: 0;
}

h1 {
  font-size: 2.5rem;
  line-height: 3rem;
  font-weight: 300;
}

h2 {
  font-size: 2rem;
  line-height: 2.5rem;
  font-weight: 300;
}

h3 {
  font-size: 1.5rem;
  line-height: 1rem;
  font-weight: 300;
}

main {
  box-sizing: border-box;
  margin: 0 auto;
  width: 800px;

  display: flex;
  flex-direction: column;
  min-height: 100%;
}

footer {
  flex-grow: 0;
  flex-shrink: 0;
}

article {
  flex-grow: 1;
  max-width: 75ch;
}

header {
  margin-top: 15%;
  margin-bottom: 5%;
}

.center {
  text-align: center;
}

.signature {
  margin-bottom: 2%;
}

.tagline {
  margin-top: 0;
  opacity: 66%;
}

footer {
  height: 5rem;
}

#revision {
  opacity: 0.5;
}
